body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/overlay.png"),
  -moz-linear-gradient(45deg, #000000 15%, #f0b74c 85%);
background-image: url("images/overlay.png"),
  -webkit-linear-gradient(45deg, #000000 15%, #f0b74c 85%);
background-image: url("images/overlay.png"),
  -ms-linear-gradient(45deg, #000000 15%, #f0b74c 85%);
background-image: url("images/overlay.png"),
  linear-gradient(45deg, #000000 15%, #f0b74c 85%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
