.Projects-Section {
  display: flex;
  flex-direction: row;
  margin: 5% 0%;
}

.Project-box {
  width: 32%;
  margin: auto;
}

.Project-box p {
  text-align: center;
}

.Project-box h3 {
  margin-top: 10%;
  font-weight: 400;
}

.Project-Img {
  width: 198px;
  height: auto;
}

.Center-underline:after {
  margin-left: auto;
  margin-right: auto;
}

.SeeCode-Btn {
  background-color: #8cc9f0;
  color: white;
  border: 0;
  padding: 0% 5%;
  margin: 8% 0% 0% 0%;
  font-size: 2.2rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  height: 2.75em;
  line-height: 2.75em;
}

.Luncher-box {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding: 0% 1%;
}

@media(max-width: 999px) {
  .Projects-Section {
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .Project-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 10%;
  }

  .Project-Img {
    width: 128px;
    height: auto;
  }

  .Project-box h3 {
    /* margin-top: 10%; */
  }

  .Project-box p {
    margin: auto;
  }

  .Luncher-box {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: none;
    border-left: none;
    padding: 6% 0%;

  }

  .SeeCode-Btn {
    width: 30%;
    margin: auto;
  }

}
