.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section {
  padding: 5% 0%;
  width: 90%;
}

.SeeCode-Btn {
  background-color: #8cc9f0;
  color: white;
  border: 0;
  padding: 0% 5%;
  margin: 8% 0% 0% 0%;
  font-size: 2.2rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  height: 2.75em;
  line-height: 2.75em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 5% 0%;
}

.Header-Icon {
  width: 126px;
  height: auto;
  margin: 0% 0% 10% 0%;
}

.App-header h1 {
  margin: 0% 0% 4% 0%;
}

.App-header p {
  font-size: 2.3rem;
}

.Git-Link {
  font-size: 2.3rem;
}

.Content-container {
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74%;
  color: #636363;
  border-radius: 0.5rem;
}

nav {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;

}

.Nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 1.5% 0%;
}

nav a {
  font-size: 1.8rem;
}

.AboutMe-Box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.AboutMe-Content {
  width: 50%;
}

.AboutMe-PicBox {
  width: 20%;
}

.AboutMe-Pic {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.Projects-Section {
  display: flex;
  flex-direction: row;
}

.Skill-Icon-Box {
  margin: 6% 0% 0% 0%;
}

.Skill-Icon-Grid {
  display: flex;
  flex-flow: row wrap;
}

.Icon-Style {
  width: 25%;
}

.Icon-Row-1 {
  margin-bottom: 5%;
}

.Icon-Img {
  width: 96px;
  height: 96px;
}
